<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <nav>
    <a href="/encrypt">ENCRYPT</a>
    <a href="/decrypt">DECRYPT</a>
  </nav>
  
  <form action="/submit-decrypt" enctype="multipart/form-data" method="post">
    <div class="form-container">
      <h2>DECRYPT</h2>
      <div class="form-input">
        <label for="fileToDecrypt">Pilih berkas untuk didekripsi</label><br>
        <input type="file" name="fileToDecrypt" id="fileToDecrypt" required>
      </div>
    
      <div class="form-button">
        <button>Decrypt</button>
      </div>

      <div class="form-input">
        span.error= error
      </div>
    </div>
  </form>
</body>
</html>